.model-teste{

    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(43, 38, 38, 0.596);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modelTeste{

    width: 577px;
    height: 547px;
    background-color: seashell;
    border-radius: 4px;
    padding: 20px;
}